{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '3-Restaurant/Restaurant_by_Region.css' %}" type='text/css'>
{% endblock %}

{% block content %}
    <div class="header">
        <div class="title">성북구 음식점 목록입니다.</div>
    </div>

    <div class="middlebar">
        <div class="Seoul">다른 지역 고르기</div>
        <div class="region_in_Seoul">
            <a class="middle-nav-item" href="{% url 'Seongbuk' %}">성북구</a>
            <a class="middle-nav-item" href="{% url 'Mapo' %}">마포구</a>
        </div>
        <a class="back" href="{% url 'Restaurant' %}">뒤로 가기</a>
    </div>
    
    <div class="mainbox">
        가게 목록들
    </div>
{% endblock %}