{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '6-Community/Community.css' %}" type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="head-bar">
        <div class="title" style="text-decoration:underline #F8CD07">Community</div>
    </div>

    <div class="mainbox">
        {% for post in posts %}
            <div class="main-oneline">
                <div class="nav-item community-name">
                    {{post.title}}
                </div>
                <a class="nav-item commu-join" href="{% url 'Community_detail' post.pk %}">
                    join
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="footer">
        <a class="button" href="{% url 'Community_new' %}">커뮤니티 만들기</a>
        <a class="button" href="{% url 'Community_my' %}">마이페이지</a>
    </div>
    
{% endblock %}