{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '6-Community/Community_my.css' %}" type='text/css'>
{% endblock %}

{% block content %}
    <div class="textbox">
        {% for post in posts %}
            {% if user.is_authenticated and post.author.pk == user.pk %}
                <div class="sub_textbox">
                    <a href="{% url 'Community_detail' post.pk %}">{{post.title}}</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="bottom">
        <a class="button" href="{% url 'Community' %}">홈으로</a>
        <a class="button" href="{% url 'Community_new' %}">커뮤니티 추가하기</a>
    </div>

{% endblock content %}