{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '6-Community/Community_detail.css' %}" type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="head-bar">
        <div class="title">Community</div>
    </div>

    <div class="mid-bar">
        <div class="mid-title">{{post.title}}</div>
    </div>

    <div class="main-box">
        <div class="content">
            <div class="content-title">Content</div>
            {{post.content}}
        </div>
        
        <div class="comments">
            <div class="content-title">Comment</div>
            {% for comment in post.Community_comment.all %}
                <div class="comment">
                    <div class="comment_author">{{comment.author}}</div>
                    <div class="comment_cont">{{comment.content}}</div>
                    {% if user.is_authenticated and comment.author.pk == user.pk %}
                        <a class="button" href="{% url 'delete_comment' post.pk comment.pk %}">댓글삭제</a>
                    {% endif %}
                </div>
            {% endfor%}
    
            {% if user.is_authenticated %}
            <form class="new_comment" method="POST">
                {% csrf_token %}
                <input class="new_content" type="text" name="content" placeholder="댓글을 입력해주세요">
                <button class="comment_button" type="submit">댓글쓰기</button>
            </form>
            {% endif %}
        </div>
    </div>

    <div class="footer">
        <a class="button" href="{% url 'Community' %}">홈으로</a>
        {% if user.is_authenticated and post.author.pk == user.pk %}
        <a class="button" href="{% url 'Community_edit' post.pk %}">수정하기</a>
        <a class="button" href="{% url 'Community_delete' post.pk %}">삭제하기</a>
    </div>
{% endif %}
{% endblock %}
