@import url(base.css);
main{
    max-width: 800px;
    margin: 0 auto;
}

img {
    vertical-align: middle;
}

.info_review{
    color: #607540;
    font-weight: 900;

}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.title{
    font-family: 'Lobster', cursive;
    margin-top: 100px;
}

.back-img{
    width: 100%;
    height: 45vh;
    background-color: #F9E7D3;
    background-image: url(../picture/restaurant.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 0em ;
    
  }

.red {
    color: red !important;
}
#title-left{
    font-size: 2em;
    font-weight: bold;
    padding-right:10px;
}
#title-right{
    font-size: 1.2em;
    font-weight: bold;
    padding-left:10px;
}
#comment-center{
    border-left: 1px gray solid;
    border-right: 1px gray solid;
    padding-left:10px;
}
#comment-left{
    padding-left:10px;
}
.mainbar{
    /* margin: 0px 100px; */
}

.choose-bar2 {
    margin: 0em;
    /* border-bottom: 2px gray solid; */
    /* background-color: bisque; */
  }

.back-img{
    width: 100%;
    height: 45vh;
    /* background-color: #F9E7D3; */
    background-image: url(../picture/restaurant.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 1.2em ;
}

.flex{
    display: flex;
}
.click {
    cursor: pointer;
}
.align-items{
    align-items: center;
}
.right{
    text-align: right;
}
.sub-title{
    font-size: 1.5em;
    font-weight: bold;
    margin-left:50px;
    margin-bottom: 10px;
}
.information{
    width:100%;
}
.photo{
    border: 2px gray solid;
}

.info{
    width: 60%;
    margin-left:30px;
    border-bottom: 2px gray solid;
    margin-left:20px;
}
.info-title{
    margin-bottom: 50px;    
    justify-content: space-between;
    align-items: center;
    
}
.info-box{
    display: flex;
    align-items: center;
    margin-bottom:10px;
}

.info-box > span{
    padding-right:10px;
}
.info-box > a{
    padding-right: 10px;
}

.sns-go {text-align:right;}
.sns-go li {display:inline-block; margin: 0 5px; }
.sns-go li img {border-radius:50%;}	

.comment{
    margin:0px 50px;
}
.comment-head > span{
    padding-right:10px;
    color:gray;
}
.comment-head{
    margin-top:10px;
}

.comment-star{
    margin-top:10px;
}
.star{
  display:inline-block;
  width: 30px;height: 60px;
  cursor: pointer;
}
.star_left{
  background: url(http://gahyun.wooga.kr/main/img/testImg/star.png) no-repeat 0 0; 
  background-size: 60px; 
  margin-right: -3px;
}
.star_right{
  background: url(http://gahyun.wooga.kr/main/img/testImg/star.png) no-repeat -30px 0; 
  background-size: 60px; 
  margin-left: -3px;
}
.star.on{
  background-image: url(http://gahyun.wooga.kr/main/img/testImg/star_on.png);
}
.comment-form{
    margin-top:10px;
}
.comment-form-body{
    width: 60%;
}
.comment-box{
    margin-top:20px;
    width: 60%;
}
.comment-user{
    justify-content: space-between;
}
.comment-user > span{
    padding-right: 10px;
}
.comment-content{
    margin-top:10px;
    border:1px black solid;
    border-radius: 0.5em;
    padding :10px;
}

/* 버튼... */
/* .Store_by_Region{
    background:#607540;
    color:#F9E7D3;
    border:none;
    position:relative;
    height:60px;
    font-size:1.2em;
    padding:0 1em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
   */
.Store_by_Region:hover{
    background:#F9E7D3;
    color:#607540;
  }
  
.Store_by_Region:before,
.Store_by_Regionx:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #607540;
    transition:400ms ease all;
  }
  
.Store_by_Region:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  
.Store_by_Region:hover:before,
.Store_by_Region:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
  #name{
    color: #607540;
    font-size: 16px;
    font-weight: 800;
  }
  
  .info-box{
      margin-top: 50px;
  }

 