@import url(base.css);
        
.head-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.title{
    font-family: 'Lobster', cursive;
    font-size: 75px;
    font-weight: 700;
    color: #607540;
    padding-bottom: 1%;
    text-decoration:underline #F8CD07;
}

.mid-bar{
    text-align: center;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

.footer{
    width: 80%;
    margin: 10px auto;
}

.button {
    box-sizing: border-box;
    height: 25px;
    width : 82px;
    background-color: white;
    color: rgb(74, 74, 139);
    font-size: 16px;
    text-align: center;
    border: none;
    text-decoration: underline;
    letter-spacing: -1px;
}

*{margin:0;padding:0;}
ul,li{list-style:none;}
.main{
    display: flex;
    justify-content: center;
}

#slide{
    width:400px;
    height:400px;
    position:relative;
    overflow:hidden;
}
#slide{height:400px;overflow:hidden;position:relative;}
#slide ul{width:calc(100% * 6);display:flex;transition:1s;}
#slide li{width:calc(100% / 6);height:400px;}

#slide li:nth-child(1){
    background-image : url("../../../static/picture/magazine_content/5-food\(broccoli\)/브로콜리1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#slide li:nth-child(2){
    background-image : url("../../../static/picture/magazine_content/5-food\(broccoli\)/브로콜리2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#slide li:nth-child(3){
    background-image : url("../../../static/picture/magazine_content/5-food\(broccoli\)/브로콜리3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#slide li:nth-child(4){
    background-image : url("../../../static/picture/magazine_content/5-food\(broccoli\)/브로콜리4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#slide li:nth-child(5){
    background-image : url("../../../static/picture/magazine_content/5-food\(broccoli\)/브로콜리5.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#slide li:nth-child(6){
    background-image : url("../../../static/picture/magazine_content/5-food\(broccoli\)/브로콜리6.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#slide input{display:none;}
#slide label{display:inline-block;vertical-align:middle;width:10px;height:10px;border:2px solid #666;background:#fff;transition:0.3s;border-radius:50%;cursor:pointer;}
#slide .pos{text-align:center;position:absolute;bottom:10px;left:0;width:100%;text-align:center;}

#pos1:checked~ul{margin-left:0%;}
#pos2:checked~ul{margin-left:-100%;}
#pos3:checked~ul{margin-left:-200%;}
#pos4:checked~ul{margin-left:-300%;}
#pos5:checked~ul{margin-left:-400%;}
#pos6:checked~ul{margin-left:-500%;}

#pos1:checked~.pos>label:nth-child(1){background:#666;}
#pos2:checked~.pos>label:nth-child(2){background:#666;}
#pos3:checked~.pos>label:nth-child(3){background:#666;}
#pos4:checked~.pos>label:nth-child(4){background:#666;}
#pos5:checked~.pos>label:nth-child(5){background:#666;}
#pos6:checked~.pos>label:nth-child(6){background:#666;}