@import url(base.css);

.mainbox{
    background-color: #607540;
}


.mainbox{
    width: 100%;
    height: 100vh;
    /* margin-top: 15px; */
    background-image:url('../picture/rest2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    /* opacity: 0.9; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-user{
    color: #F9E7D3;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

p{
    color : white;
    font-size:52px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
p1{
    color : white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}


