@import url(base.css);

.mainbox{
    width: 100%;
    height: 100vh;
    margin-top: 15px;
    background-color: #607540;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color : white;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p1{
    color : white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}


