{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '7-Recruit/Recruit.css' %}" type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="back-img">
    <div class="header">
        <div class="title" style="text-decoration:underline #F8CD07">Recruit </div>
        <!-- <div class="title">Recruit</div> -->
    </div>

    <div class="mainbox">
        <h1>저희의 가치를 함께 실현하실 분을 모십니다.</h1>
        <div class="box">
            본래 ‘비건(Vegan)’이란 채식주의자 중에서도 유제품과 달걀까지 먹지 않는 가장 ‘엄격한 채식주의자’를 말합니다.
            여기서 파생된 ‘비건패션’은 가죽, 모피, 울 등의 동물성 소재를 사용하지 않고 ‘크루얼티 프리(Cruelty-free, 동물학대 없는)’ 제품을 입는 것을 뜻합니다.
            단순히 먹는 데만 그치지 않고, 입는 것에도 ‘채식주의’를 적용하기 시작한 것이죠.
            이들은 의복을 만드는 과정에서 살아있는 동물의 털을 뽑거나 산 채로 가죽을 벗겨내는 등 학대를 가하는 것을 지양한다.
            단순히 디자인과 기능만 보고 구매하는 것이 아니라 계획과 사용 처분 등을 모두 고려한 책임 있는 소비를 함으로써 사회·환경적 불균형을 해결할 수 있는 방법을 찾는 것이다.
            이른바 ‘가치소비’, 옷 하나를 골라도 동물보호와 환경을 고려한다는 이미지까지 얹어지면서 의류업계는 주목하기 시작했다.
            본래 ‘비건(Vegan)’이란 채식주의자 중에서도 유제품과 달걀까지 먹지 않는 가장 ‘엄격한 채식주의자’를 말합니다. 
            여기서 파생된 ‘비건패션’은 가죽, 모피, 울 등의 동물성 소재를 사용하지 않고 ‘크루얼티 프리(Cruelty-free, 동물학대 없는)’ 제품을 입는 것을 뜻합니다.
            단순히 먹는 데만 그치지 않고, 입는 것에도 ‘채식주의’를 적용하기 시작한 것입니다. 이들은 의복을 만드는 과정에서 살아있는 동물의 털을 뽑거나 산 채로 가죽을 벗겨내는 등 학대를 가하는 것을 지양합니다.
            단순히 디자인과 기능만 보고 구매하는 것이 아니라 계획과 사용 처분 등을 모두 고려한 책임 있는 소비를 함으로써 사회·환경적 불균형을 해결할 수 있는 방법을 찾는 것입니다.
            이른바 ‘가치소비’, 옷 하나를 골라도 동물보호와 환경을 고려한다는 이미지까지 얹어지면서 의류업계는 주목하기 시작했습니다.

        </div>
    </div>

    <!-- <a class="send">지원하기</a> -->
</div>
{% endblock %}