@import url(base.css);

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.title{
    background-color: rgb(209, 243, 220);
}

.nav-item{
    border: 1px solid gray;
    text-align: center;
    margin-right: 15px;
}

.mainbox{
    background-color: rgba(0, 63, 0, 0.185);
    width: 100%;
    height: 100%;
}

.main-oneline{
    margin: 0 auto;
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main{
    width: 20%;
    height: 150px;
    font-size: 15px;
    margin: 5px;
}