{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '4-Store/Store.css' %}" type='text/css'>
{% endblock %}

{% block content %}
    <div class="header">
        <div class="title">COSMETICS</div>
    </div>

    <div class="middlebar">
        <div class="Seoul">카테고리 선택하기</div>
        <div class="Store_by_Region">
            <a class="nav-item middle" href="{% url 'schoolfood' %}">schoolfood</a>
            <a class="nav-item middle" href="{% url 'sidedish' %}">sidedish</a>
            <a class="nav-item middle" href="{% url 'sauce' %}">sauce</a>
            <a class="nav-item middle" href="{% url 'snack' %}">snack</a>
        </div>
        <a class="back" href="{% url 'Store' %}">뒤로 가기</a>
    </div>

    <div class="mainbox">
        <div class="main-oneline">
            <div class="nav-item main">COSMETICS 목록</div>
            <div class="nav-item main">COSMETICS 목록</div>
            <div class="nav-item main">COSMETICS 목록</div>
            <div class="nav-item main">COSMETICS 목록</div>
            <div class="nav-item main">COSMETICS 목록</div>
        </div>
        <div class="main-oneline">
            <div class="nav-item main">COSMETICS 목록</div>
            <div class="nav-item main">COSMETICS 목록</div>
            <div class="nav-item main">COSMETICS 목록</div>
            <div class="nav-item main">COSMETICS 목록</div>
            <div class="nav-item main">COSMETICS 목록</div>
        </div>
    </div>
{% endblock %}