{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '4-Store/Store.css' %}" type='text/css'>
{% endblock %}

{% block content %}
    <div class="header">
        <div class="title">COSMETICS</div>
    </div>

    <div class="middlebar">
        <div class="Seoul">카테고리 선택하기</div>
        <div class="Store_by_Region">
            
            <a class="nav-item middle" href="{% url 'Store' %}">Total</a>
            <a class="nav-item middle" href="{% url 'sidedish' %}">sidedish</a>
            <a class="nav-item middle" href="{% url 'sauce' %}">sauce</a>
            <a class="nav-item middle" href="{% url 'snack' %}">snack</a>
            <a class="nav-item middle" href="{% url 'meet'%}">meet</a>
        </div>
    </div>

    <div class="mainbox">
        <div class="main-oneline">
            
        {% for product in products %}
          <div class="nav-item">
              <a href="{{product.link}}">
                  <img src="{{product.photo}}" width="100%" height="100px" alt="상품이미지" />
                </a>
              <span>{{product.name}}</span>
              <span>{{product.price}}</span>
          </div>
          {% endfor %}
        </div>
      </div>
{% endblock %}