{% extends 'base.html' %} {% block css %} {% load static %}
<link
  rel="stylesheet"
  href="{% static '4-Store/Store.css' %}"
  type="text/css"
/>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
{% endblock %} {% block content %}

<div class="header">
  <div class="title" style="text-decoration:underline #F8CD07">Store</div>
</div>

<div class="middlebar">
  <div class="Seoul">Total</div>
  <div class="Store_by_Region">
    <a class="nav-item middle" href="{% url 'schoolfood' %}">schoolfood</a>
    <a class="nav-item middle" href="{% url 'sidedish' %}">sidedish</a>
    <a class="nav-item middle" href="{% url 'sauce' %}">sauce</a>
    <a class="nav-item middle" href="{% url 'snack' %}">snack</a>
    <a class="nav-item middle" href="{% url 'meet' %}">meet</a>
  </div>
</div>

<div class="mainbox">
  <div class="main-oneline">
      
  {% for product in products %}
    <div class="nav-item">
      <a href="{{product.link}}">
        <img src="{{product.photo}}" width="100%" height="100px" alt="상품이미지" />
      </a>
        <span id="product_name">{{product.name}}</span>
        <p id="product_price">{{product.price}}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
