{% extends 'base.html' %} {% block css %} {% load static %}
<link
  rel="stylesheet"
  href="{% static '4-Store/Store.css' %}"
  type="text/css"
/>
{% endblock %} {% block content %}
<div class="header">
  <div class="title">Store</div>
</div>

<div class="middlebar">
  <div class="Seoul">카테고리 선택하기</div>
  <div class="Store_by_Region">
    <a class="nav-item middle" href="{% url 'schoolfood' %}">schoolfood</a>
    <a class="nav-item middle" href="{% url 'sidedish' %}">sidedish</a>
    <a class="nav-item middle" href="{% url 'sauce' %}">sauce</a>
    <a class="nav-item middle" href="{% url 'snack' %}">snack</a>
    <a class="nav-item middle" href="{% url 'meet' %}">meet</a>
  </div>
</div>

<div class="mainbox">
  <div class="main-oneline">
    <div class="nav-item main">
        
    </div>
  </div>
</div>
{% endblock %}
