@import url(base.css);



.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    
}

.title{
   font-size: 30px;
   font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav-item{
    border: 1px solid gray;
    text-align: center;
    margin-right: 15px;
}

.mainbox{
    width: 100%;
    height: 110vh;
    background-image: url('../picture/fruit.jpg');
    /* opacity: 0.7; */
    background-size: 100%;
    background-repeat: no-repeat;


}

.main-oneline{
    margin: 0 auto;
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main{
    width: 20%;
    height: 150px;
    font-size: 15px;
    margin: 5px;
    
}

h1{
    color: black;
    font-size: 70px;
    font-weight: 900;
    
    margin-top: 10px;
    /* border-bottom: 5px solid #607540; */



}

/* h1{ */
    /* background-color: #D8C49F; */
    /* width: 10%;
    height: 10%;
} */

p{
    font-size: 80px;  
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gra_p1{

  background: linear-gradient(to right, #143ae4, rgb(23, 165, 23), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0%;
  
}

.hashtag_cont{
    padding-top: 8%;
}

p1{
    font-size: 30px;
    font-weight: 400;
    color: black;
    padding-top: 10%;

}

.hashtag_many{
    font-weight: 900;
}


/* 밑줄시도 */

.underline {
    line-height: 1.2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 3em;
    font-weight: 700;
    background-image: linear-gradient(transparent calc(100% - 3px), #000 3px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.8s;
    color: #000;
    cursor: pointer;
  }
  @media (min-width: 1000px) {
    .underline {
      font-size: 4em;
    }
  }
  .underline.yellow {
    background-image: linear-gradient(transparent 60%, #F8CD07 40%);
  }
  .underline:hover {
    background-size: 100% 100%;
  }

  /* 해쉬태그많은거모음 */
  p2.hashtag_many{

    background: linear-gradient(to right, #143ae4, rgb(10, 157, 10), rgb(254, 216, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0%;
    
  }
.contact-form{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.contact-row{
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
}
.agree{
  margin:10px auto;
}
.btn{
  width:100px;
  height: 50px;
  background-color: #607540;
  color: white; 
  cursor: pointer;
}
.btn:hover{ color:white; background-color: #737c66; }
.contact-title{
  font-size: 2em;
  font-weight: bold;
  border-bottom: 2px #607540 solid;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 30px;
}