{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static '3-Restaurant/Restaurant.css' %}" type='text/css'>
<link rel="stylesheet" href="{% static '3-Restaurant/Restaurant_detail.css' %}" type='text/css'>
{% endblock %}

{% block content %}
<div class="choose-bar2">
    <div class="header">
        <div class="title">Restaurant</div>
    </div>

    <div class="middlebar">
        <div class="Seoul">지역 선택하기</div>
        <div class="Store_by_Region">
            <a class="nav-item Store" href="{% url 'Seongbuk' %}">성북구</a>
            <a class="nav-item Store" href="{% url 'Mapo' %}">마포구</a>
        </div>
    </div>
</div>
<div class="sub-title">
    <span>Information</span>
</div>
<div class="information flex">
    <div id="map" style="border:1px black solid; width: 500px; height: 350px; margin-left: 20px;"></div>
    <div class="info">
        <div class="info-title flex">
            <div class="align-items flex">
                <span id="title-left">{{post.name}}</span>
                <span id="title-left" class="material-icons">grade</span>
                <span id="title-left">{{post.grade}}</span>
            </div>
            <div class="align-items flex">
                <span id="title-right" class="material-icons">create</span>
                <span id="title-right">리뷰쓰기</span>
                <span id="isLike" class="material-icons click {% if isLike%}red{% endif %}">favorite</span>
                <span id="title-right">좋아요</span>
                <input type="hidden" name="post_pk" id="post_pk" value="{{post_pk}}">   
            </div>
        </div>

        <div class="info-content">
            <div class="info-content-left">
                <div class="info-box">
                    <span class="material-icons">call</span>
                    <span>{{post.pNumber}}</span>
                </div>
                <div class="info-box">
                    <span class="material-icons">location_on</span>
                    <span>{{post.location}}</span>
                    <a href="https://map.kakao.com/link/search/{{post.name}}" target="_blank">지도보기</a>
                </div>
                <div class="info-box">
                    <span class="material-icons">home</span>
                    <a href="http://www.subway.co.kr/">{{post.website}}/</a>
                </div>
            </div>
            <div class="sns-go">
                <ul>
                    <li>
                        <a href="#"
                            onclick="javascript:window.open('http://share.naver.com/web/shareView.nhn?url=' +encodeURIComponent(document.URL)+'&title='+encodeURIComponent(document.title), 'naversharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" alt="Share on Naver"><img
                                src="{% static '3-Restaurant/icon/sns_naver.png' %}" width="40"
                                alt="네이버 블러그 공유하기" /></a>
                    </li>
                    <li>
                        <a href="#"
                            onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=' +encodeURIComponent(document.URL)+'&t='+encodeURIComponent(document.title), 'facebooksharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" alt="Share on Facebook"><img
                                src="{% static '3-Restaurant/icon/sns_face.png' %}" width="40" alt="페이스북 공유하기" /></a>
                    </li>
                    <li>
                        <a href="#"
                            onclick="javascript:window.open('https://twitter.com/intent/tweet?text=[%EA%B3%B5%EC%9C%A0]%20' +encodeURIComponent(document.URL)+'%20-%20'+encodeURIComponent(document.title), 'twittersharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" alt="Share on Twitter"><img
                                src="{% static '3-Restaurant/icon/sns_tw.png' %}" width="40" alt="트위터 공유하기" /></a>
                    </li>
                    <li>
                        <a href="#"
                            onclick="javascript:window.open('https://plus.google.com/share?url=' +encodeURIComponent(document.URL), 'googleplussharedialog','menubar=no,toolbar=no,resizable=yes, scrollbars=yes,height=350,width=600');return false;"
                            target="_blank" alt="Share on Google+"><img
                                src="{% static '3-Restaurant/icon/sns_google.png' %}" width="40"
                                alt="구글 플러스 공유하기" /></a>
                    </li>
                    <li>
                        <a href="#"
                            onclick="javascript:window.open('https://story.kakao.com/s/share?url=' +encodeURIComponent(document.URL), 'kakaostorysharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes, height=400,width=600');return false;"
                            target="_blank" alt="Share on kakaostory"><img
                                src="{% static '3-Restaurant/icon/sns_kakao.png' %}" width="40" alt="카카오스토리 공유하기" /></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="sub-title">
    <span>Review Comments (3)</span>
</div>
<div class="comment">
    <div class="comment-head">
        <span>현재 댓글 3</span>
        <span id="comment-center">작성자 삭제 0</span>
        <span id="comment-left">규정 미준수 0</span>
    </div>
    <div class="comment-star">
        <span class="star star_left"></span>
        <span class="star star_right"></span>

        <span class="star star_left"></span>
        <span class="star star_right"></span>

        <span class="star star_left"></span>
        <span class="star star_right"></span>

        <span class="star star_left"></span>
        <span class="star star_right"></span>

        <span class="star star_left"></span>
        <span class="star star_right"></span>
        
    </div>
    <div class="comment-form">
        <form method="POST">
            {% csrf_token %}
            <div class="comment-form-body">
                <input type='text' name="grade" id='input_grade' value='test용'/>
                <input type="text" name="content" placeholder="소중한 리뷰 감사드립니다 :)" 
                style="width: 100%; height: 100px; border-radius: 1em;border: 1px gray solid;" />
                <div class="right">
                    <button type="submit" style="
                    border: 1px solid skyblue;
                    padding: 5px;
                    margin-top: 10px;
                    border-radius: 0.5em;">댓글 쓰기</button>
                </div>
            </div>
        </form>
    </div>

    {% for comment in post.comments.all %}
    <div class="comment-box">
      <span class="material-icons">subdirectory_arrow_right</span>
      <span>{{comment.user_id}}</span>
      <span>{{comment.grade}} / 5</span>
      <p>{{ comment.content }}</p>"
      <div class>
        <a href="{% url 'post_delete_comment' post.pk comment.pk %}">댓글 삭제</a>
      </div>
    </div>
    {% endfor%}


</div>

</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{KAKAO_JS_KEY}}&libraries=services"></script>
<script type="text/javascript" src="{% static '3-Restaurant/post.js' %}"></script>
<script>
    $(".star").on('click', function () {
        var idx = $(this).index();
        $(".star").removeClass("on");
        for (var i = 0; i <= idx; i++) {
            $(".star").eq(i).addClass("on");
        }
        document.getElementById("input_grade").value = idx/2 +0.5;
    });
</script>
<script>
    var pk = $('#post_pk').val();
    $("#isLike").click(() => {
      like($("#isLike").hasClass("red"),pk);
    });
  </script>
<script>
    /** map*/
var mapContainer = document.getElementById("map"), // 지도를 표시할 div
  mapOption = {
    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
    level: 3, // 지도의 확대 레벨
  };

// 지도를 생성합니다
var map = new kakao.maps.Map(mapContainer, mapOption);

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
geocoder.addressSearch("{{post.location}}", function (result, status) {
  // 정상적으로 검색이 완료됐으면
  if (status === kakao.maps.services.Status.OK) {
    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

    // 결과값으로 받은 위치를 마커로 표시합니다
    var marker = new kakao.maps.Marker({
      map: map,
      position: coords,
    });

    // 인포윈도우로 장소에 대한 설명을 표시합니다
    var infowindow = new kakao.maps.InfoWindow({
      content:
        '<div style="width:150px;text-align:center;padding:6px 0;">{{post.name}}</div>',
    });
    infowindow.open(map, marker);

    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
    map.setCenter(coords);
  }
});

</script>
{% endblock %}