{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '3-Restaurant/Restaurant.css' %}" type='text/css'>
{% endblock %}

{% block content %}
    <div class="header">
        <div class="title">Restaurant</div>
    </div>

    <div class="middlebar">
        <div class="Seoul">지역 선택하기</div>
        <div class="Store_by_Region">
            <a class="nav-item Store" href="{% url 'Seongbuk' %}">성북구</a>
            <a class="nav-item Store" href="{% url 'Mapo' %}">마포구</a>
        </div>
    </div>

    <div class="mainbox">
        가게 목록들
    </div>
{% endblock %}