{% extends 'base.html' %} 
{% block css %} {% load static %}
<link
  rel="stylesheet"
  href="{% static '3-Restaurant/Restaurant.css' %}"
  type="text/css"
/>
{% endblock %} {% block content %}
<div class="header">
  <div class="title">Restaurant</div>
</div>
<div class="choose-bar">
  <div class="Seoul">지역 선택하기</div>
  <div class="Store_by_Region">
      
    <div class="Regin-Row">
        <a class="Regin-Box" href="{% url 'Mapo' %}">서초구/강남구</a>
        <a class="Regin-Box" href="{% url 'Mapo' %}">동작구/관악구/금천구</a>
        <a class="Regin-Box" href="{% url 'Mapo' %}">강서구/양천구/영등포구/구로구</a>
      </div>
    <div class="Regin-Row">
      <a class="Regin-Box" href="{% url 'Seongbuk' %}">도봉구/강북구/성북구/노원구</a>
      <a class="Regin-Box" href="{% url 'Mapo' %}">동대문구/중랑구/성동구/광진구</a>
    </div>
      <div class="Regin-Rowx">
        <a class="Regin-Box" href="{% url 'Mapo' %}">은평구/마포구/서대문구</a>
        <a class="Regin-Box" href="{% url 'Mapo' %}">종로구/중구/용산구</a>
      <a class="Regin-Box" href="{% url 'Mapo' %}">강동구/송파구</a>
      </div>
    </div>
  </div>
</div>
<div class="check-category">
  <form method="GET">
    <select id="sort-select" onchange="location = this.value;">
      <option class="sort-mypost" value="?sort=">--선택--</option>
      {% if user.is_authenticated %}
      <option class="sort-mypost" value="?sort=likes">즐겨찾기</option>
      {% endif %}
      <option class="sort-date" value="?sort=abc">가나다순</option>
      <option class="sort-likes" value="?sort=grade">별점순</option>
    </select>
    
  </form>
</div>
{% for post in posts%}
<div class="Store">
    <div class="Store-Box">
        <span>{{post.name}}</span>
        <span>{{post.grade}}</span>
    </div>

    <div class="Store-Box">
        <span>{{post.location}}</span>
    </div>
    <div class="Store-Box">
      {% if post.category == 1 %}
      <span>채식 전문</span>
      {% else %}
      <span>채식 지원</span>
      {% endif %}
  </div>
    <div class="Store-Box">
      <a href="{% url 'Restaurant_detail' post.pk %}">자세히 보러가기 ><</a>
    </div>
</div>
{% endfor %}
  {% endblock %}
