{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/Contactus.css' %}" type='text/css'>
{% endblock %}

{% block content %}


    <div class="mainbox">
        <!-- <div class="title">About us</div> -->

        <div class="hashtag_cont">
            <P class="gra_p1"># 해치지 않는 , 소비</p>
        </div>
        <span class="yellow underline">©2020 I'll VEGAN ®. All Rights Reserved</span>
        <br>

        <h1>한국 최초의 <br>
            비거니즘 통합 브랜드</h1>

        <p1>
            <br>
            단순히 동물성 재료를 소비하지 않는다는 것 이상의 철학과 가치가 있습니다.<br>
            현대 사회의 대량생산, 대량소비, 자본주의와 같은 주류 산업가치에 의문 제기,<br>
            기존의 방식이 지닌 문제점에 대한 성찰에서 출발합니다.<br> 
            <br>

            <p2 class="hashtag_many">
            #생명체에 대한 존중, #환경에 대한 염려, #공정한 무역, #유기농, #지역 공동체, #슬로우 라이프</p2>
        </p1>
        
    </div>

    <!-- <button type="submit">SEND</button> -->

{% endblock %}