{% extends 'base.html' %} {% block css %} {% load static %}
<link
  rel="stylesheet"
  href="{% static 'registration/Contactus.css' %}"
  type="text/css"
/>
{% endblock %} {% block content %}
<div class="mainbox">
  <!-- <div class="title">About us</div> -->
  <div class="top">
    <div class="gra_p1"># 해치지 않는 , 소비</div>
  </div>
  <span class="yellow underline">©2020 I'll VEGAN ®. All Rights Reserved</span>
  <br />

  <h1>
    한국 최초의 <br />
    비거니즘 통합 브랜드
  </h1>
  
  <p1>
    <p>단순히 동물성 재료를 소비하지 않는다는 것 이상의 철학과 가치가 있습니다.<br>
    현대 사회의 대량생산, 대량소비, 자본주의와 같은 주류 산업가치에 의문 제기,<br>
    기존의 방식이 지닌 문제점에 대한 성찰에서 출발합니다.</p>

    <p2 class="hashtag_many">
      #생명체에 대한 존중, #환경에 대한 염려, #공정한 무역, #유기농, #지역
      공동체, #슬로우 라이프</p2
    >
  </p1>

</div>

<div class="contact">
  <div class="contact-form">
    <div class="contact-title">
      <span>Contact Us</span>
    </div>
    <div class="contact-row">
      <input
        type="textarea"
        placeholder="*이름을 입력해주세요"
        style="width: 40%; height: 30px;"
      />
      <input
        type="textarea"
        placeholder="*회사명을 입력해주세요"
        style="width: 40%; height: 30px;"
      />
    </div>
    <div class="contact-row">
      <input
        type="textarea"
        placeholder="*이메일을 입력해주세요"
        style="width: 40%; height: 30px;"
      />
      <input
        type="textarea"
        placeholder="*연락처를 입력해주세요"
        style="width: 40%; height: 30px;"
      />
    </div>
    <input
      type="textarea"
      placeholder="*내용 입력해주세요"
      style="width: 90%; height: 300px;"
    />
    <div class="agree">
      <label
        ><input type="radio" />네, 아윌비건의 정보 및 시장 동향에 대한 정보를
        받아보는 데 동의합니다.</label
      >
    </div>

    <div class="agree">
      <label
        ><input type="radio" />네, 개인정보 수집 및 이용에 대한 안내를 읽고
        이해했으며, 이에 동의합니다. (필수)</label
      >
    </div>
    <button
      class="btn"
      id="submit"
      type="submit"
      onclick="alert('감사합니다!')"
    >
      보내기
    </button>
  </div>
</div>
<!-- <button type="submit">SEND</button> -->

{% endblock %}
