{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'registration/login.css' %}" type='text/css'>
{% endblock %}

{% block content %}

<div class="login">
    <div class="login-box" id = "left_box">
        <span id="bold">일반 로그인</span>
        <div class="login-box-input">
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="아이디">
                <input type="password" name="password" placeholder="비밀번호">
                <div class="flex justify">
                    <a class="login-box-signup" href="{% url 'signup' %}">
                        회원가입
                    </a>
                    <button type="submit">로그인</button>
                </div>
            </form>
        </div>

    </div>
    <div class="login-box">
        <span id="bold">간편 로그인</span>
        <div class="flex">
        <div class="login-kakao">
            <a href="{% provider_login_url 'kakao' %}">
                <img src="{% static 'registration/kakao.jpg' %}" style="
                height: 100px;
                width: 100px;
                margin-right: 20px;
                " >
            </a>
        </div>
        <div class="login-google">
            <a href="{% provider_login_url 'google' %}">
                <img src="{% static 'registration/google.png' %}" style="
                height: 100px;" >
            </a>
        </div>
    </div>
    </div>
</div>
<div>
    <img src="{% static 'registration/ad.jpeg' %}" style="width: 500px; margin: 0 460px;">
</div>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>


</head>

{% endblock %}