{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '2-homepage/home.css' %}" type='text/css'>
{% endblock %}

{% block content %}


    <div class="mainbox">
        
        
            <div class="content">
                {% if user.is_authenticated %}
                    <div class="menu-user">
                        안녕하세요 🥰 , <br>👩‍🔬{{user.username}}님의 성향은 "락토"입니다👨‍🔬
                    </div>
                    <br>
                {% else %}
                
                {% endif %}
                <p>I'll VEGAN은 주변의 맞춤형 비건 식당을 추천합니다.</p><br>
                <p1>" 행복한 채식 라이프를 위하여 "</p1>
                <p1><strong>I'll VEGAN</strong>과 건강한 채식을 함께하세요.</p1>
            </div>
        </div>
    </div>

    
{% endblock content %}