{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '2-homepage/home.css' %}" type='text/css'>
{% endblock %}

{% block content %}

    <div class="mainbox">
        <div class="img"><img src="{% static 'restaurant.jpg' %}" width="100%" height="100%" allowfullscreen></img>
            <div class="content">
                <p>I'll VEGAN은 주변의 맞춤형 비건 식당을 추천합니다.</p><br>
                <p1>" 행복한 채식 라이프를 위하여, "</p1><br>
                <p1><strong>I'll VEGAN</strong>과 건강한 채식을 함께하세요.</p1>
                <div class="img-cover"></div>
            </div>
        </div>
    </div>

    
{% endblock content %}