@import url(base.css);

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.title{
    background-color: rgb(209, 243, 220);
}

.middlebar{
    width: 550px;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.Seoul{
    background-color: rgb(209, 243, 220);
    width: 150px;
    height: 100%;
}

.Store_by_Region{
    width: 150px;
    height: 40%;
}

.nav-item{
    border: 1px solid gray;
    text-align: center;
    margin-right: 15px;
    width:30%
}

.middle {
    width: 30px;
    height: 40%;
    color: blue;
    text-decoration: underline;
}

.main-oneline{
    margin: 0 auto;
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main{
    width: 20%;
    height: 150px;
    font-size: 15px;
    margin: 5px;
}